.About {
    justify-content: left;
}

.aboutHeader {
    margin: 0;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    
}

.aboutText {
    margin: 0;
    color: #DCDCDC;
    font-size: 10.24px;
    font-weight: 400;
    line-height: 150%;
}

